body{
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    margin: 0 auto;
    width: 900px;
    height: 900px;
    margin-top: 10px;
}


/*Header*/
header{
    border: 1px solid rgb(255, 255, 255);
    background: linear-gradient(0deg, #adadad 0%, #E2E2E2 100%);
}

nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.fundoInput{
    background: #fff;
    color: #525865;
    border: none;
    border-top: 1px solid rgb(218, 218, 218);
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.171);
}

nav input{
    padding: 5px;
}

header ul{
    display: flex;
    margin-left: 10px;
}

header ul li{
    margin-right: 10px;
    margin-top: 5px;
}

header ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 0.9em;
}

header ul li a:hover{
    background-color: #adadad;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in 100ms;
}

/*Logo e cadastro*/
.galeria{
    background-image: url(../img/galeria.png);
}

#logo{
    width: 325px;
    height: 72px;
    background-position: -10px -100px;
    margin-bottom: -40px;
}

.TelEsquerda{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: -20px;
}

#LoginTel{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#telefone{
    width: 172px;
    height: 55px;
    background-position: -155px -190px;
    justify-content: flex-end;
}

#chavinha{
    background-image: url(../img/login.jpg);
    width: 20px;
    height: 22px;
}

#login{
    display: flex;
    justify-content: end;
    font-size: 0.8em;
}

#login p {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 5px;
}

#login input{
    width: 100px;
    height: 25px;
}

#login button{
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

#login button:hover{
    background-color: rgba(101, 101, 255, 0.315);
    cursor: pointer;
}

/*Navegação*/
#naveg{
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
}

#naveg nav{
    background-color: #666666;
}

#naveg nav ul{
    display: flex;
}

#naveg nav ul li{
    padding: 5px;
    color: rgb(207, 207, 207);
    font-size: 0.9em;
    padding-right: 10px;
    margin-left: 5px;
}

.bordaDIR{
    border-right: 1px solid rgb(207, 207, 207);
}

#naveg nav ul li:hover{
    background-color: rgb(207, 207, 207);
    color: rgb(119, 119, 119);
    cursor: pointer;
    border-radius: 5px;
    transition: all ease-in 100ms;
}

/*Produtos novos*/
#produtosN{
    margin-top: 2px;
    display: flex;
    width: 100%;
    border: 1px solid #d1d1d1d1;
    background-image: url(../img/fundoMenu.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
}

#ProdPrincipal{
    display: flex;
    width: 100%;
    padding-left: 20px;
}

#ProdPrincipal h2{
    font-size: 6em;
    margin-top: 70px;
    margin-bottom: 10px;
}

#ProdPrincipal p{
    color: #8f8f8fd1;
    font-size: 0.9em;
    inline-size: 300px;
    line-height: 1.7em;
    margin-bottom: 30px;
}

#ProdPrincipal h3{
    font-size: 2.5em;
    margin-bottom: 30px;
}

#ProdPrincipal span{
    color: #78A305;
}

#ProdPrincipal button{
    background: linear-gradient(0deg, #71AC05 0%, #93C904 100%);
    color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #406103;
    width: 180px;
    height: 45px;
    margin-left: 10px;
}

#ProdPrincipal button:hover{
    background: linear-gradient(0deg, #93C904 0%, #71AC05 100%);
    cursor: pointer;
    transition: all ease-in 100ms;
}

#MAC{
    background-image: url(../img/painelPrincipal.jpg);
    background-color: #F3F3F3;
    width: 350px;
    height: 413px;
    margin-right: -25px;
    background-position: -330px 0;
}

#prodSecunda{
    width: 100%;
}

#painel1{
    background-color: #F3F3F3;
    background-image: url(../img/painel1.jpg);
    width: 234px;
    height: 110px;
}

#painel2{
    background-image: url(../img/painel2.jpg);
    width: 234px;
    height: 110px;
    border-top: 1px solid #d1d1d1d1;
}

#painel3{
    background-image: url(../img/painel3.jpg);
    width: 234px;
    height: 110px;
    border-top: 1px solid #d1d1d1d1;
}

#painel4{
    background-image: url(../img/painel4.jpg);
    width: 234px;
    height: 110px;
    border-top: 1px solid #d1d1d1d1;
}